:root.theme-light {
  --background-color: #fff1f7;
  --font-color: #353430;
  --title-color: #ffc2e6;
  --section-heading-color: #353430;
  --card-heading-color: #353430;
  --accent-color: #ff8dcb;
  --menu-hover-color: #32312d66;
  --font-family: 'IBM Plex mono';
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  .rec__lable {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --font-color: #353430;
    --title-color: #ffc2e6;
    --section-heading-color: #353430;
    --card-heading-color: #353430;
    --accent-color: #ff8dcb;
    --menu-hover-color: #32312d66;
    --font-family: 'IBM Plex mono';
    --background-image: url(../images/cover-image-light.png);
  }

  .rec__lable {
    display: none;
  }
}
